* {
  box-sizing: border-box;
  margin: 0 0 0.5em 0;
  padding: 0;
}

body {
  color: #234;
  background-color: #ececec;
  padding: 2vh 12vw;
  line-height: 1.75;
}

.App {
  font-family: "futura", sans-serif;
  font-size: 115%;
  background-color: #f9f9f9;
  padding: 3vh 5vw 4vh;
  border-radius: 1rem;
  box-shadow: 0 6px 12px #00000033;
  /* text-align: center; */
}

ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: grid; */
  /* place-items: left; */
}
li {
  line-height: 1.5;
  /* text-align: left; */
}

p {
  margin: 0;
  line-height: 1.5;
}
