* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "futura", sans-serif;
  background-color: #f9f9f9;
  padding: 2vh 2vw;
  margin: auto;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
  text-align: left;
}

p {
  margin: 0;
  line-height: 1.5;
}
